html {
  font-family: "Noto Seri", serif;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
}

.max-width {
  max-width: 38em;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border: 0;
}

header > h1 {
  margin: 0;
}

.green {
  color: #70ad55;
}

input, select, textarea {
  border-color: #6e8c62;
}

textarea {
  height: 10em;
}

hr {
  border-color: #70ad55;
  opacity: .5;
}

fieldset {
  border: 0;
}

.pad-left {
  padding-left: 2rem;
}

.center {
  width: 7em;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 38em) {

  .pad-left-m-l {
  padding-left: .75rem;
  }

  .pad-right-m-l {
  padding-right: .75rem;
  }

  h1 {
  font: 1.4rem;
  }

  .padding-m-l {
  padding-top: .5rem;
  padding-bottom: 1rem;
  }

}
